<table class="table table-bordered table-list-files">
	<thead>
		<tr>
			<th class="col-id">
				ID
			</th>
			<th>
				File path
			</th>
			<th class="col-size">
				Size
			</th>
			<th class="col-buttons">
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="file in files track by $index">
			<td class="text-right">
				{{file.id}}
			</td>
			<td>
				{{file.path}}
			</td>
			<td class="text-right">
				{{file.size}}
			</td>
			<td class="text-center">
				<button class="btn btn-danger" ng-click="remove(file)">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>